*:root {
        --body-bg-color: #22212C;
        --text-color: #837E9F;
        --bg-cards: #302F3D;
        --bg-techs: #CB92B1;
        font-family: Merriweather Sans;
        font-weight: 400, 500 e 700;
        margin: 0;
      }
